.team__container {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bgTeamColor;

  .team__heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: $secondaryColor;
    display: flex;
    justify-content: center;
    padding-top: 94px;
    margin-bottom: 40px;
    &:hover,
    &:focus {
      text-decoration: underline;
      text-decoration-thickness: 3px;
      text-decoration-color: $accentColor;
      transition: text-decoration-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .team__list {
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 0;
  }

  .team__item {
    width: 270px;
    height: 428px;
    border-style: solid;
    border: 1px;
    background: $primaryColor;
    box-shadow: 0px 4px 4px $primaryShadowColor;
    border-radius: 0px 0px 4px 4px;
    text-align: center;
  }

  .team__description {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .team__member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: $secondaryColor;
    padding-top: 30px;
    padding-bottom: 10px;
    &:hover,
    &:focus {
      text-decoration: underline;
      text-decoration-thickness: 3px;
      text-decoration-color: $accentColor;
      transition: text-decoration-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .team__profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: $textColor;
    &:hover,
    &:focus {
      text-decoration: underline;
      text-decoration-thickness: 3px;
      text-decoration-color: $accentColor;
      transition: text-decoration-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .team__link {
    width: 206px;
    height: 56px;
    display: inline-flex;
    column-gap: 24px;
  }
}

.social__link {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  margin-top: 16px;
  height: 44px;
  width: 44px;
  border-radius: 50px;
  background-color: $primaryColor;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: $iconColor;
  &:hover,
  &:focus {
    cursor: pointer;
    background-color: $accentColor;
    fill: $primaryColor;
  }
}

@media (max-width: 767px) {
  .team__container {
    flex-direction: column;
    text-align: center;

    .team__heading {
      font-size: 28px;
      padding-top: 40px;
      margin-bottom: 20px;
    }
  }

  .team__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .team__item {
    width: 90%;
  }
  .team__item--last {
    margin-bottom: 60px;
  }
  .team__member {
    font-size: 14px;
    padding-top: 20px;
  }

  .team__profession {
    font-size: 14px;
  }

  .team__link {
    width: 80%;
    height: 40px;
  }
}

@media only screen and (min-width: 1200px) {
  .team__item {
    margin-bottom: 94px;
  }
}

@media (max-width: 1199px) {
  .team__container {
    display: block;
    align-items: center;
    justify-content: center;

  .team__container:last-child{
    padding-bottom: 40px;
  }   

    .team__heading {
      font-size: 28px;
      padding-top: 40px;
      margin-bottom: 20px;
    }
  }

  .team__list {
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 700px;
  }

  .team__item {
    width: 90%;
    margin: 0; 
  }

  .team__member {
    font-size: 14px;
    padding-top: 20px;
  }

  .team__profession {
    font-size: 14px;
  }

  .team__link {
    width: 80%;
    height: 40px;
  }
}
